<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @property.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<p>
  <strong>Photo:</strong>

  <div class="thumb-image"><%= image_tag(@property.photo , class: "img-thub") %></div>

</p>

<%= link_to 'Edit', edit_property_path(@property), class: "btn btn-success" %> |
<%= link_to 'Back', properties_path, class: "btn btn-secondary" %>
